/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../FONT/BebasNeue-Regular.woff) format('woff');
}

/* Style Utama*/

body {
    font: 18px/36px 'BebasNeue';
    background-color: #35155D;
}

h1 {
    font-size: 80px;
    margin: 40px;
    text-align: center;
    -webkit-text-stroke: 1px #8CABFF;
    color: transparent;
}


h2 {
    color: #8CABFF;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 90px;
    padding-bottom: 20px;
}

.image {
    height: 400px;
    padding-top: 30px;
    float: left;
    width: 550px;
    background-color: #512B81;
    margin-left: 70px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 50px
}

.image2 {
    height: 400px;
    padding-bottom: -100px;
    float: left;
    width: 550px;
    background-color: #512B81;
    margin-left: 70px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 50px
}

.image3 {
    height: 500px;
    padding-bottom: -100px;
    float: left;
    width: 550px;
    background-color: #512B81;
    margin-left: 70px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 50px
}

.k2 {
    padding-left: 710px;
    text-align: left;
    margin-bottom: -38px;
}

.k3 {
 padding-top: 40px;
}

.k4 {
    text-align: left;
    padding-top: 50px;
}

.p1 {
    color: #D4ADFC;
    padding-top: 50px;
    padding-left: 700px;
    font-size: 20px;
    text-align: left;
}

.p2 {
    color: #D4ADFC;
    padding-top: 50px;
    font-size: 20px;
    padding-left: 30px;
    text-indent: 15px;
}

.p3 {
    color: #D4ADFC;
    padding-left: 90px;
}

.p4 { 
    color: #D4ADFC;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 700px;
}

.p5 {
    color: #D4ADFC;
    padding-left: 20px;
}

.container {
    width: 550px;
    background-color: #512B81;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 50px
}

.mainimage {
    width: 800px;
    background-color: #512B81;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery li {
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    border: 5px solid #666;
    float: left;
    margin-left: 93px;
    position: relative;
}

.gallery li,
.gallery li a img,
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(92, 70, 156, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #5C469C;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}



/* overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}


.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.8)
}

.overlay:target img {
    animation: justfade 1s;
}


.overlay .close {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 10px;
    opacity: 0;
}


.overlay:target .close {
    animation: slidedownfade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev  {
    animation: justfade .5s .5s forwards;
}


/* navigasi */
.next, .prev {
    width: 57px;
    height: 93px;
    background-image: url(../IMG/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../IMG/prev.png);
    margin-left: -100px;
}

.footer {
    background-color: #333;
    padding: 20px;
}

.footer .copy {
    color: #eaeaea;
    text-align: left;
    font-size: 20px;
  }

/* animasi */
@keyframes justfade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomdanfade {
     0% {
        transform: scale(0);
        opacity: 0;
     }

     100% {
        transform: scale(1);
        opacity: 1;
     }
}

@keyframes slidedownfade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}